#######################################
# OSX, virtualenvs, private files, emacs
.DS_Store
*/env/*
*/venv/*
*/.venv/*
*.private
.#*
*~
.vagrant
.cache

# Exclude secret custom configs
custom/dot.emacs.d/
custom/dot.gcloud/
custom/dot.gnupg/
custom/dot.hub
custom/dot.ssh/
custom/dot.vimrc
#######################################
