# Each profile in this "credentials" file must have a corresponding
#   match in the "config" file

[default]
aws_access_key_id=<20_digit_alphanum_key>
aws_secret_access_key=<40_digit_alphanum_key>

[dev-us-east-1]
aws_access_key_id=<20_digit_alphanum_key>
aws_secret_access_key=<40_digit_alphanum_key>

[dev-us-west-1]
aws_access_key_id=<20_digit_alphanum_key>
aws_secret_access_key=<40_digit_alphanum_key>

[dev-us-west-2]
aws_access_key_id=<20_digit_alphanum_key>
aws_secret_access_key=<40_digit_alphanum_key>

