# Rackspace DFW prod account example
[dfw-prod]
OS_AUTH_URL=https://identity.api.rackspacecloud.com/v2.0/
OS_AUTH_SYSTEM=rackspace
OS_TENANT_ID=<your_six_digit_tenant_id>
OS_USERNAME="<your_alphanum_openstack_username>"
NOVA_RAX_AUTH=1
OS_PASSWORD=<your_alphanum_openstack_api_key>
OS_REGION_NAME="DFW"

# Rackspace DFW dev account example
[dfw-dev]
OS_AUTH_URL=https://identity.api.rackspacecloud.com/v2.0/
OS_AUTH_SYSTEM=rackspace
OS_TENANT_ID=<your_six_digit_tenant_id>
OS_USERNAME="<your_alphanum_openstack_username>"
NOVA_RAX_AUTH=1
OS_PASSWORD=<your_alphanum_openstack_api_key>
OS_REGION_NAME="DFW"
